if TARGET_VCONNECT_6ULL_14X14

config SYS_BOARD
	default "vconnect-6ull-14x14"

config SYS_VENDOR
	default "vconnect"

config SYS_CONFIG_NAME
	default "vconnect-6ull-14x14"

config SYS_TEXT_BASE
	default 0x87800000
endif
